<html>
<p>Search a manager by his name</p>

<form action={{url_for('delete_which_manager')}} method=['GET','POST']>
<input type="text" name="mname"></input>
 <input type="submit" value="Search"></input>
</form>

<p>Delete a manager by his ID</p>
<form action={{url_for('delete_manager')}} method=['GET','POST']>
<input type="text" name="mid"></input>
 <input type="submit" value="Delete"></input>
</form>

{% if managers|length>0 %}
<table border=1>
    <thead>
        <td>ID</td>
        <td>manager</td>
        <td>team</td>
        <td>since</td>
     </thead>
     {% for manager in managers %}
        <tr>
          {% for att in manager %}
          <td>{{att}}</td>
          {% endfor %}
       </tr>
     {% endfor %}
</table>
{% endif%}

{{msg}}

<p><a href ="/">Go to home page</a></p>
</html>
