<html>
<style>
body{
  font-size: 15pt;
  font-family: arial;
}
</style>

<p>Check players that belong to a country, a league or a team</p>
<form action={{url_for('country_dd')}} method='POST'>
  <select name="which_country" onChange='{this.form.submit();}'>
    {% if countries|length >1 %}
    <option value="">Select a country</option>
    <option value="all countries">Select all</option>
    {% endif %}
    {% for country in countries %}
    <option value="{{country}}">{{country}}</option>
    {% endfor %}
  </select>
  </form>


        <form action={{url_for('league_dd')}} method="POST">
            <select name="which_league" onChange='{this.form.submit();}'>
                <option value="">Choose a league</option>
                <option value="all leagues">Select all</option>
                {% for league in leagues %}
                <option value="{{league}}">{{league}}</option>
                {% endfor %}
            </select>
        </form>


    <form action={{url_for('team_dd')}} method="POST">
      <select name="which_team" onChange='{this.form.submit();}'>
        <option value="">Choose a team</option>
        <option value="all teams">Select all</option>
        {% for team in teams %}
        <option value="{{team}}">{{team}}</option>
        {% endfor %}
      </select>
    </form>

    <table border=1>
        <thead>
            <td>Name</td>
            <td>Rating</td>
            <td>Goals</td>
            <td>Birthday</td>
         </thead>
    {% for player in players %}
      <tr>
      {% for att in player %}
      <td>{{att}}</td>
      {% endfor %}
      </tr>
    {% endfor %}
  </table>




  <body>
    <h1>European soccer database</h1>
    <p>This database has the following tables:</p>
    <p>players(pid,prating,pname, pgoal, PK(pid))</p>
    <p>manager(mid, mname, PK(mid))</p>
    <p>manages(tid, mid, since, PK(mid, since))</p>
    <p>country(cid, cname, PK(cid))</p>
    <p>league(lid, lname, PK(lid))</p>
    <p>match(mid, mdate, PK(mid))</p>
    <p>team(tid, tname, PK(tid))</p>
    <p>belongs_cl(lid, since, PK(lid))</p>
    <p>belongs_lc(lid, cid, since, PK(lid))</p>
    <p>belongs_tc(tid, since,PK(tid))</p>
    <p>belongs_tl(tid, lid since, PK(tid, lid))</p>
    <p>champions_league(tid, lid, PK(lid))</p>
    <p>participate(tid, mid, tid2, PK(mid))</p>
    <p>plays_in(pid, tid, since, PK(pid))</p>


    <p><a href ="insert">Insert records</a></p>
    <p><a href="delete">Delete records</a></p>

    <form method="POST" action="/query">

          <p>Enter query here: <input type="text" name="query">
		  <input type="button" value="query"></p>
    </form>

      <p>Enter query here: <input type="text" name="query">
        <input type="submit" value="query"></p>
      </form>


    </body>


    </html>
